# Payment Reminder for {{ account_number }}: {{ account_name_with_branch }}

{% if short_name_links_count > 1 %}
    There's an amount owing on your account for your {{ statement_month }} statement (#{{ statement_number }}).
{% else %}
    There's an amount owing of {{ total_amount_owing }} on your account for your {{ statement_month }} statement (#{{ statement_number }}).    
{% endif %}

{% if short_name_links_count > 1 %}
    Please settle your remaining balance before {{ due_date }}. This will help ensure the smooth processing of your account and services.
{% else %}
    If you've made a payment recently, please verify that you've paid the full amount indicated on your statement and settle any remaining balance by {{ due_date }}. This will help ensure the smooth processing of your account and services.
{% endif %}

[Log in to view your {{ statement_frequency }} statements]({{ payment_statement_url }})

**Business Registry**
BC Registries and Online Services
Toll Free: 1-877-526-1526
Victoria Office: 250-387-7848
Email: [BCRegistries@gov.bc.ca](BCRegistries@gov.bc.ca)
