# Your application for {{ product_access_descriptor }} access to {{ category_descriptor }} has been received.

BC Registries staff have received your application to have **{{ product_name }}** access to {{ category_descriptor }}, and your request is under review.

{% if has_agreement_attachment%}
    {% if product_access_descriptor == 'Qualified Supplier' %}
        {% set product_access_descriptor = "Qualified Suppliers'" %}
    {% endif %}

Please find a copy of the {{ product_access_descriptor }} Agreement attached for your records.
{% endif %}

You will be notified by email once your application has been reviewed.

{% if contact_type == 'BCOL' %}
Please contact BC OnLine at 1-800-663-6102 or email bcolhelp@gov.bc.ca to discuss further actions.
{% else %}
Please contact BC Registries at 1-877-526-1526 or email bcregistries@gov.bc.ca to discuss further actions.
{% endif %}
