@import "theme.scss";

@font-face{
  font-family: 'BCSans';
  font-style: normal; 
  src: url('assets/fonts/BCSans/BCSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/BCSans/BCSans-Regular.woff2') format('woff2'); /* Optimized for very modern browsers */
}
@font-face{
  font-family: 'BCSans';
  font-style: italic;
  src: url('assets/fonts/BCSans/BCSans-Italic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/BCSans/BCSans-Italic.woff2') format('woff2'); /* Optimized for very modern browsers */
}
@font-face{
  font-family: 'BCSans';
  font-weight: 700; 
  src: url('assets/fonts/BCSans/BCSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/BCSans/BCSans-Bold.woff2') format('woff2'); /* Optimized for very modern browsers */
}
@font-face{
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700; 
  src: url('assets/fonts/BCSans/BCSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'); /* Optimized for very modern browsers */
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 14px;
}

@media (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

body {
  color: $gray9;
  font-size: 1rem;
}

h1, h2 {
  letter-spacing: -0.03rem;
  font-weight: 700;
}

h1 {
  line-height: 2.25rem;
  font-size: 2rem;
}

p {
  font-weight: 300;
}

.app-container.theme--light {
  background: $gray0;
}
