// Layout style rules shared across the app
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1248px;
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
}

.col {
  padding: 1rem;
}

.intro-text {
  margin-bottom: 2rem;
  letter-spacing: -0.01rem;
  font-size: 1rem;
  font-weight: 300;

  em {
    font-style: normal;
    font-weight: 700;
  }
}

// Layout styling for different device sizes
@media (max-width: 480px) {
  h1 span {
    display: block;
  }
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 2rem;
  }

  .intro-text {
    margin-bottom: 3rem;
    font-size: 1.125rem;
  }
}