// Layout style rules shared across the app
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1360px;
}

.view-container {
  padding: 2rem 1.5rem;
}

@media (min-width: 1360px) {
  .view-container {
    padding: 2.5rem 1rem;
  }
}

.view-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.75rem;

  .back-btn {
    margin-top: -0.25rem;
  }

  &.align-center {
    align-items: center;
  }

  &.block {
    display: block;
  }
}

.view-header__title {
  margin-bottom: 0;
}

@media (min-width: 1200px) and (min-height: 900px) {
  .view-header {
    .back-btn {
      margin-top: 0;
    }
  }
}

// Increase column padding to 1rem (16px)
// ~32px gutters to provide some additional space between columns

.col {
  padding: 1rem;
}

.intro-text {
  margin-bottom: 2rem;
  letter-spacing: -0.01rem;
  font-size: 1rem;
  font-weight: 300;

  em {
    font-style: normal;
    font-weight: 700;
  }
}

// Layout styling for different device sizes
@media (max-width: 480px) {
  h1 span {
    display: block;
  }
}

.loading-progressbar {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.view-header__subtitle {
  font-size: 16px;
  color: #495057
}