::v-deep {
  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.25px;
  }

  // Push search titles closer to the search input
  .base-table__header__title {
    padding-top: 16px;
  }

  .base-table__header > tr:first-child > th  {
    padding: 0 0 0 0 !important;
  }
  .base-table__header__filter {
    padding-left: 16px;
    padding-right: 4px;
  }
  .base-table__item-row {
    color: #495057;
    font-weight: bold;
  }
  .base-table__item-cell {
    padding: 16px 0 16px 16px;
    vertical-align: middle;
  }
}

.open-action-btn {
  height: 40px !important;
  padding: 0 24px 0 24px !important;
  top: -5px
}

.more-actions-btn {
  height: 40px !important;
  top: -5px
}

.actions-dropdown_item {
  border-radius: 4px 4px 0px 0px !important;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $gray1;
    color: $app-blue !important;
  }
}