:root {
    // Monochrome Palette
    --COLOR_GRAY7: #495057;
    --COLOR_GRAY9: #212529;

    // Font Sizes
    --FONT_SIZE_TITLE: 24px;
    --FONT_SIZE_TEXT: 16px;
}

// Gray Palette
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

// BC GOV BLUE PALETTE
$BCgovBlue0: #e0e7ed;
$BCgovBlue1: #b3c2d1;
$BCgovBlue2: #8099b3;
$BCgovBlue3: #4d7094;
$BCgovBlue4: #26527d;
$BCgovBlue5: #003366; // PRIMARY BLUE
$BCgovBlue6: #1e1e1f;
$BCgovBlue7: #002753;
$BCgovBlue8: #002049;
$BCgovBlue9: #001438;

// BC GOV BACKGROUND
$BCgovBG: #f2f2f2;

// BC GOV TEXT
$BCgovBullet: #CCCCCC;
$BCgoveBueText1: #1a5a96; // PRIMARY BLUE TEXT
$BCgoveBueText2: #0000EE; // LINK TEXT HOVER

// Accent Blue
$BCgovABlue1: #6e93ff;
$BCgovABlue2: #3b6cff;
$BCgovABlue3: #0846ff;
$BCgovABlue4: #003bee;

// BC GOV GOLD PALETTE
$BCgovGold0: #fff7e3;
$BCgovGold1: #feeaba;
$BCgovGold2: #fedd8c;
$BCgovGold3: #fdcf5e;
$BCgovGold4: #fcc43c;
$BCgovGold5: #fcba19;// PRIMARY GOLD
$BCgovGold6: #fcb316;
$BCgovGold7: #fbab12;
$BCgovGold8: #fba30e;
$BCgovGold9: #fa9408;

// Accent Gold
$BCgovAGold1: #ffffff;
$BCgovAGold2: #FFF8EF;
$BCgovAGold3: #FFE0BC;
$BCgovAGold4: #FFD4A2;

// Error Colors
$BCgovInputError: #ff5252;

// Form Inputs
$BCgovInputBG: #ffffff;

// Font Colors
$BCgovFontColorInverted: #ffffff;

// App Colors
$app-blue: #1669bb; // same as the Vuetify theme primary
$app-lt-blue: #E2E8EE; // LOW OPACITY PRIMARY BLUE
$app-background-blue: #E4EDF7; // Hover Background Blue
$app-dk-blue: #38598a;
$app-green: #2E8540;

$table-green: #E8F5E9;

// p, span tag text color incase needs to be same as vuetify component text
$TextColorGray: #00000099;

// Font Sizes
$px-12: 0.75rem;
$px-13: 0.8125rem;
$px-14: 0.8750rem;
$px-16: 1.0000rem;
