<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <!DOCTYPE html>
  <html>

  <head lang="en">
    <meta charset="UTF-8">
    <style>

      [[fonts.html]]

      @page {
        size: Letter;
        /* Change from the default size of A4 */
        margin: 0.75cm;
        /* Set margin on each page */
      }

      [[style.html]]
    </style>
  </head>

<body>
  <table class="main-table">
    <tbody>
      <tr class="statement-header">
        <td colspan="2">
          <div class="bcgov-logo-column">
            [[bc_logo_img.html]]
            <div class="bc-reg-address">
              <div class="font-bold">Service BC Connect</div>
              <div>161 - 4000 Seymour Place</div>
              <div>Victoria BC V8X 4S8</div>
              <br>
              <div>Toll Free:  1-800-663-6102</div>
              <div>Email:  bcolhelp@gov.bc.ca</div>
            </div>
          </div>
          <div class="r-heading">
            <div class="r-title">Form of Confirmation</div>
            <div class="r-subtitle">
              Pre-Authorized Debit (PAD) Sign-up
            </div>
          </div>
        </td>
      </tr>
      <tr class="org-account-info-row">
        <td class="org-address-column">
          <div class="org-address">
            {% if accountName %}
            <div class="line-height-reg">{{accountName}}</div>
            {% endif %}
            {% if accountAddress %}
            <div class="line-height-reg">{{accountAddress.street}}</div>
            <div class="line-height-reg">{{accountAddress.city}}, {{accountAddress.region}} {{accountAddress.postal_code}}</div>
            <div class="line-height-reg">{{accountAddress.country}}</div>
            {% endif %}
          </div>
        </td>
        <td class="account-info">
          {{generatedDate}}
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column">
          <div class="font-bold">
            RE: Confirmation of Pre-Authorized Debit (PAD) Sign-up
          </div>
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column subject-block">
            Thank you for signing up for Pre-Authorized Debits from Service BC Connect – BC Online Services. We have accepted your PAD Agreement and are writing to confirm the following details:
          </div>
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column">
          <div class="account-details">
            <ol>
              {% if accountName %}
              <li>Account Name:
                <span class="font-bold">{{accountName}}</span>
              </li>
              {% endif %}
              {% if paymentInfo['bankInstitutionNumber'] or paymentInfo['bankTransitNumber'] %}
              <li>Financial Institution & Transit #:
                <span class="font-bold">{{paymentInfo['bankInstitutionNumber']}}, {{paymentInfo['bankTransitNumber']}}</span>
              </li>
              {% endif %}
              {% if paymentInfo['bankAccountNumber'] %}
              <li>Account Number:
                <span class="font-bold">{{paymentInfo['bankAccountNumber']}}</span>
              </li>
              {% endif %}
              <li>Amount of Payment:
                <span class="font-bold">Variable</span>
              </li>
              <li>Frequency of Payment:
                <span class="font-bold">Daily</span>
              </li>
              {% if paymentInfo['paymentStartDate'] %}
              <li>Payment Start Date:
                <span class="font-bold">{{paymentInfo['paymentStartDate']}}</span>
              </li>
              {% endif %}
              <li>Type of Pre-Authorized Debit:
                <span class="font-bold">BUSINESS</span>
              </li>
              <li>
                Statement with regard to Pre-notification:
                <span class="font-bold">
                  You have agreed that we may reduce the standard period of pre-notification for variable amount PADs. We will send you notice of the amount of each PAD 1-2 business days before the PAD is due.
                </span>
              </li>
            </ol>
          </div>
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column subject-block">
          Your Payor’s PAD Agreement may be cancelled provided notice is received 10 days before the next scheduled PAD.
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column subject-block">
          If any of the above details are incorrect, please contact us immediately at:
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column subject-block">
          <div class="font-bold">Ministry of Citizens’ Services</div>
          <div class="font-bold">BC Online Partnership Office</div>
          <div><span class="font-bold">Mail: </span> BC OnLine Partnership Office</div>
          <div class="shift-right">E161 4000 Seymour Place</div>
          <div class="shift-right">PO Box 9412, Stn Prov Govt</div>
          <div class="shift-right">Victoria, BC, V8W 9V1</div>
          <div><span class="font-bold">Courier: </span> BC OnLine Partnership Office</div>
          <div class="shift-right">E161 4000 Seymour Place</div>
          <div class="shift-right">Victoria, BC, V8X 4S8</div>
          <div><span class="font-bold">Email: </span> bconline@gov.bc.ca</div>
          <div><span class="font-bold">Telephone: </span> 1-800-663-6102</div>
          <div><span class="font-bold">Fax: </span> (250) 952-6115</div>
        </td>
      </tr>
      <tr class="subject-row">
        <td colspan="2" class="subject-column subject-block">
          <div class="paragraph">
            If the details are correct, you do not need to do anything further and your Pre-Authorized Debits will be processed and start on the Payment Start Date indicated above.
          </div>
          <div class="paragraph">
            You have certain recourse rights if any debit does not comply with these terms. For example, you have the right to receive a reimbursement for any PAD that is not authorized or is not consistent with this PAD Agreement. To obtain more information on your recourse rights, contact your financial institution or visit <a href="https://www.payments.ca/" target="_blank">www.payments.ca</a>.
          </div>
          <div class="paragraph">
            <div>Thank you,</div>
            <div>Service BC Connect</div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="statement-footer">
          <div class="footer-bcrs-logo">
            [[bc_registry_logo_img.html]]
          </div>
          <div class="footer-info">
            <span>Form of Confirmation</span>
            <pageinfo>Page i of x</pageinfo>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>
