aiosmtplib==1.1.3
dnspython==1.16.0
email-validator==1.0.5
idna==2.9
git+https://github.com/bcgov/sbc-auth.git@development#egg=notify_api&subdirectory=notify-api
git+https://github.com/bcgov/lear.git#egg=entity_queue_common&subdirectory=queue_services/common
