USE_TEST_KEYCLOAK_DOCKER = "YES"
USE_DOCKER_MOCK = "YES"

DEPLOYMENT_ENV=

DATABASE_TEST_USERNAME=
DATABASE_TEST_PASSWORD=
DATABASE_TEST_NAME=
DATABASE_TEST_HOST=
DATABASE_TEST_PORT=

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_UNIX_SOCKET=

JWT_OIDC_WELL_KNOWN_CONFIG=
JWT_OIDC_ISSUER=
JWT_OIDC_JWKS_CACHE_TIMEOUT="6000"
JWT_OIDC_CACHING_ENABLED="True"
JWT_OIDC_ALGORITHMS=
JWT_OIDC_AUDIENCE=

KEYCLOAK_BASE_URL=
KEYCLOAK_REALMNAME=
SBC_AUTH_ADMIN_CLIENT_ID=
SBC_AUTH_ADMIN_CLIENT_SECRET=
ENTITY_SVC_CLIENT_ID=
ENTITY_SVC_CLIENT_SECRET=

API_GW_CONSUMERS_API_URL=
API_GW_KEY=
API_GW_EMAIL_SUFFIX=
API_GW_KC_CLIENT_ID_PATTERN=

BCOL_API_URL="https://bcol-api-dev.apps.silver.devops.gov.bc.ca"
BCOL_API_VERSION="/api/v1"
NAMEX_API_URL="https://namex-dev.apps.silver.devops.gov.bc.ca"
NAMEX_API_VERSION="/api/v1"
NOTIFY_API_URL="https://notify-api-dev-5qwaveuroa-nn.a.run.app"
NOTIFY_API_VERSION="/api/v1"
PAY_API_URL="https://pay-api-dev.apps.silver.devops.gov.bc.ca"
PAY_API_VERSION="/api/v1"
LEGAL_API_URL="https://legal-api-dev.apps.silver.devops.gov.bc.ca"
LEGAL_API_VERSION="/api/v1"
LEGAL_API_VERSION_2"/api/v2"

AUDIENCE="https://pubsub.googleapis.com/google.pubsub.v1.Subscriber"
PUBLISHER_AUDIENCE="https://pubsub.googleapis.com/google.pubsub.v1.Publisher"
ACCOUNT_MAILER_TOPIC=
AUTH_EVENT_TOPIC=

ACCOUNTS_BUCKET=

MAIL_FROM_ID=
FLASK_ENV=="development"

EMAIL_SECURITY_PASSWORD_SALT=
EMAIL_TOKEN_SECRET_KEY=
TOKEN_EXPIRY_PERIOD=
STAFF_ADMIN_EMAIL=
REGISTRIES_LOGO_IMAGE_NAME="bc_logo_for_email.png"
WEB_APP_URL=
MAX_NUMBER_OF_ORGS="10000"
BCOL_ACCOUNT_LINK_CHECK="False"
NR_SUPPORTED_REQUEST_TYPES="BC,CR,UL,CC,CP"

AUTH_LD_SDK_KEY=

# to test real time connection to GCP infrastructure, e.g. cloud store
GOOGLE_APPLICATION_CREDENTIALS=
