Flask-Caching==2.2.0
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Moment==1.0.5
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask==1.1.4
Jinja2==2.11.3
Mako==1.3.3
MarkupSafe==2.0.1
SQLAlchemy-Continuum==1.3.15
SQLAlchemy-Utils==0.41.2
SQLAlchemy==1.3.24
Werkzeug==1.0.1
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
async-timeout==4.0.3
attrs==23.2.0
bcrypt==4.1.2
blinker==1.8.1
cachelib==0.9.0
cachetools==5.3.3
cattrs==23.2.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==7.1.2
ecdsa==0.19.0
exceptiongroup==1.2.1
expiringdict==1.2.2
flask-jwt-oidc==0.3.0
flask-marshmallow==0.11.0
frozenlist==1.4.1
google-api-core==2.18.0
google-auth==2.18.1
google-cloud-pubsub==2.17.0
googleapis-common-protos==1.63.0
grpc-google-iam-v1==0.13.0
grpcio-status==1.48.2
grpcio==1.62.2
gunicorn==22.0.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==1.1.0
jaeger-client==4.8.0
jsonschema==4.17.3
launchdarkly-server-sdk==8.2.1
marshmallow-sqlalchemy==0.25.0
marshmallow==3.21.1
minio==7.2.6
multidict==6.0.5
opentracing==2.4.0
orjson==3.10.1
packaging==24.0
pkgutil_resolve_name==1.3.10
proto-plus==1.23.0
protobuf==3.19.6
psycopg2-binary==2.9.9
pyRFC3339==1.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pyhumps==3.8.0
pyrsistent==0.20.0
python-dotenv==1.0.1
python-jose==3.3.0
python-memcached==1.62
pytz==2024.1
redis==5.0.4
requests==2.32.0
rsa==4.9
semver==3.0.2
sentry-sdk==2.0.1
six==1.16.0
threadloop==1.0.2
thrift==0.20.0
tornado==6.4
typing_extensions==4.11.0
urllib3==1.26.18
yarl==1.9.4
zipp==3.18.1
-e git+https://github.com/bcgov/sbc-common-components.git#egg=sbc-common-components&subdirectory=python
git+https://github.com/daxiom/simple-cloudevent.py.git
