@import "theme.styl";

html, body
  min-height 100vh

html
  font-size 14px

@media (min-width 960px)
  html
    font-size 16px

body
  color $gray9
  font-family 'Roboto', sans-serif
  font-size 1em

h1, h2
  letter-spacing -0.03rem
  font-weight 500

h1
  line-height 2.25rem
  font-size 2rem

p
  font-weight 300

.app-container.theme--light
  background $gray0