// Layout Variables
$app-header-height = 70px // 70px

.app-container
  display flex
  flex-flow column nowrap
  min-height 100vh

.header-group
  position fixed
  width 100%
  z-index 2

.app-header
  z-index 2

.app-body
  flex 1 1 auto

@media (min-width 1264px)
  .app-body
    > .container:first-child
      padding-top 3rem
      padding-bottom 3rem

.app-footer
  flex 0 0 auto

.container
  max-width 1200px
  padding 1.5rem