name: Account Mailer CD

on:
  push:
    branches:
      - main
      - feature*
      - hotfix*
      - release*
    paths:
      - "queue_services/account-mailer/**"
      - "auth-api/src/auth_api/models/**"
      - "auth-api/src/auth_api/services/gcp_queue/*"
      - "auth-api/src/auth_api/utils/account_mailer.py"
      - "auth-api/src/auth_api/utils/enums.py"
  workflow_dispatch:
    inputs:
      target:
        description: "Deploy To"
        required: true
        type: choice
        options:
          - "dev"
          - "test"
          - "sandbox"
          - "prod"
      redeploy:
        description: "Redeploy Application"
        required: true
        type: choice
        options:
          - "false"
          - "true"
jobs:
  account-mailer-cd:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-cd.yaml@main
    with:
      target: ${{ inputs.target }}
      app_name: "account-mailer"
      working_directory: "./queue_services/account-mailer"
      redeploy: ${{ inputs.redeploy }}
    secrets:
      WORKLOAD_IDENTIFY_POOLS_PROVIDER: ${{ secrets.WORKLOAD_IDENTIFY_POOLS_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
