name: Auth Queue CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "queue_services/auth-queue/**"
      - "auth-api/src/auth_api/models/**"
      - "auth-api/src/auth_api/services/gcp_queue/*"
      - "auth-api/src/auth_api/services/activity_log_publisher.py"
      - "auth-api/src/auth_api/utils/enums.py"

defaults:
  run:
    shell: bash
    working-directory: ./queue_services/auth-queue

jobs:
  setup-job:
    runs-on: ubuntu-20.04

    if: github.repository == 'bcgov/sbc-auth'

    steps:
      - uses: actions/checkout@v4
      - run: "true"

  linting:
    needs: setup-job
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Lint with pylint
        id: pylint
        run: |
          make pylint
      - name: Lint with flake8
        id: flake8
        run: |
          make flake8

  testing:
    needs: setup-job
    env:
      DATABASE_TEST_URL: "postgresql://postgres:postgres@localhost:5432/postgres"
      TEST_NATS_DOCKER: "YES"
      STAN_CLUSTER_NAME: "test-cluster"
      PAY_API_URL: "https://localhost:5000"
      PAY_API_VERSION: "/api/v1"

    runs-on: ubuntu-20.04

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Test with pytest
        id: test
        run: |
          make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./queue_services/auth-queue/coverage.xml
          flags: businesseventlistenerqueue
          name: codecov-auth-queue
          fail_ci_if_error: false

  build-check:
    needs: setup-job
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4
      - name: build to check strictness
        id: build
        run: |
          make build-nc
