name: Auth Queue CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "queue_services/auth-queue/**"
      - "auth-api/src/auth_api/models/**"
      - "auth-api/src/auth_api/services/gcp_queue/*"
      - "auth-api/src/auth_api/services/activity_log_publisher.py"
      - "auth-api/src/auth_api/utils/enums.py"

  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./queue_services/auth-queue

jobs:
  auth-queue-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-ci.yaml@main
    with:
      app_name: "auth-queue"
      working_directory: "./queue_services/auth-queue"
      codecov_flag: "authqueue"
