name: Notebook Report Job CI

on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
    working-directory: ./jobs/notebook-report

jobs:
  notebook-report-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-ci.yaml@main
    with:
      app_name: "notebook-report"
      working_directory: "./jobs/notebook-report"
      codecov_flag: "notebookreport"
      skip_isort: "true"
      skip_black: "true"
