#When do we want to deploy to DEV environment
name: PR label check

on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]
    branches:
      - development
      - master

jobs:
  pr-label-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: yogevbd/enforce-label-action@master
        with:
          REQUIRED_LABELS_ANY: "bug,enhancement,feature,fix,devops,documentation,maintenance,skip-changelog"
